
body {
    background-color: #141414;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


h1, h2 {
    text-align: center;
    color: #5053f8b0;
    font-size: 1.5em;
}


input[type="text"] {
    width: calc(100% - 160px);
    padding: 8px;
    margin: 10px 0;
    border: 2px solid #5053f8b0;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}


button {
    padding: 8px 16px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    background-color: #5053f8b0;
    color: #141414;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #00f7ff;
}

.produto {
    border: 1px solid #5053f8b0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
}


.produto img {
    width: 80px;
    height: auto; 
    border-radius: 5px;
    margin-bottom: 8px;
}


.carrinho-produto img, .busca-produto img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.carrinho-produto h3, .busca-produto h3 {
    font-size: 1rem;
    color: #5053f8b0;
}

.carrinho-produto p, .busca-produto p {
    font-size: 0.9rem;
    color: #c2c2c2;
}


#produtosContainer, #carrinhoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#valorTotalCarrinho {
    text-align: center;
    font-size: 1.2em;
    color: #6aacb8;
    margin-top: 20px;
}
